# /_Project 1 book case/
# /_Project 2 star border/
# /_Project 3 cards/
# /_Project 4 pixel draw/

# Dependencies
/node_modules/

# Vite build output
/dist/

# Environment variables
.env
.env.local
.env.*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*