html, body {
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 247);
  }

  canvas {
  width: 95% !important;
  height: auto !important;
  max-width: 100%;
  object-fit: contain;
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    /* 
    outline: 2px solid black;
    display: block;
    */
  }
